$carousel-height: 510px;

.Home {
  &__jumbotron {
    display: flex;
    flex-direction: column;
    min-height: $carousel-height;
  }

  &__square_grid,
  &__type {
    margin-top: 1em;
  }
}

.carousel,
.slide {
  flex-grow: 1;
}
.carousel {
  &-inner {
    height: 100%;
  }
  &__content {
    width: 100%;
    height: 100%;
    min-height: $carousel-height;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(27, 27, 27, 0.431);
    color: white;
    font-size: 3rem;
  }
}

.square-grid {
  height: 1000px;
  font-size: 2rem;
  text-align: center;
  flex-flow: row nowrap;
  &__left,
  &__right {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
  }

  &__left {
    .square-item:first-of-type {
      background-color: #bb9e32;
      flex-basis: 40%;
    }

    .square-item:last-of-type {
      background-color: #000;
      flex-grow: 1;
    }
  }

  &__right {
    overflow: hidden;
    .square-item {
      flex-basis: 60%;
      img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
      }
    }

    .square-item-group {
      $color-overlay: rgba(0, 0, 0, 0.6);
      $overlay: linear-gradient($color-overlay, $color-overlay);

      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-grow: 1;

      .square-item:first-of-type {
        background: $overlay, url("/assets/car-parts.jpg");
        background-position: center;
        background-repeat: none;
        background-size: 180%;
        transition: all 0.4s ease-in-out;
        &:hover {
          background-size: 200%;
        }
      }
      .square-item:nth-of-type(2) {
        background: $overlay, url("/assets/driving.jpg");
        background-position: center;
        background-repeat: none;
        background-size: 180%;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-size: 200%;
        }
      }
      .square-item:nth-of-type(3) {
        background: $overlay, url("/assets/cars.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 400%;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-size: 475%;
        }
      }
      .square-item {
        margin: 0;
        flex-basis: 30%;
        font-size: 1rem;
        padding: 1em;
      }
    }
  }
}

.square-item,
.square-item-group {
  color: #efefef;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.25em;
}

.type {
  margin-top: 2em;
  text-align: center;
  ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
  }
}

.services {
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
  &__box {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    min-height: 25vh;
    flex-basis: 50%;
    padding: 2em;
  }
  .contact {
    padding: 4em;
    align-items: center;
    text-align: center;
    .phone {
      font-weight: 700;
      font-size: 1.5rem;
    }

    &__hours {
      width: 100%;
    }
    &__hours__item {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}
