.shop {
  h1 {
    text-transform: capitalize;
  }
  &__search {
    width: 100%;
  }
  &__main {
    padding: 1em;
    background-color: #f4f8fa;
  }
  &__header,
  &__selector {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &__header {
    align-items: flex-end;
    width: 100%;
  }

  &__selector {
    align-items: center;

    &-item {
      margin-left: 1em;
    }
  }
}

.filter {
  &__number-input {
    display: flex;
    flex-direction: column;
    margin: 0 0.25em;
  }

  &__year,
  &__price {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__year > &__number-input,
  &__price > &__number-input {
    flex-basis: 45%;
  }
}

.col-filter {
  border-bottom: 1px solid rgb(133, 133, 133);
  padding: 0.5em 0;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-weight: 600;
    }
  }
}
